@import "../stylesheets/renduFramework.css";
@import "compass/css3/box-sizing";


/*Règles pour le menu à onglets*/
.menu {
	width : 60%;
	border: solid 1px black;
	border-radius : 10px;
	margin : auto;
    font-size : 1em;
    background-color : white;
}

.onglets {
	display : table;
	width : 100%;
	margin: 0;
	padding: 0;
}

.onglets li {
	text-align : center;
	color : black;
    font-size : 1.4em;
	padding : 5px;
    margin : 0;
	display : table-cell;
	border-style : solid;
	border-width : 1px;
	border-left : transparent;
	border-top : transparent;
	@include box-sizing(border-box);
	cursor : pointer;
    width : 20%;
}

.onglets li:first-child {
	border-radius: 10px 0 0 0;
}

.onglets li:last-child {
	border-radius: 0 10px 0 0;
	border-right : transparent;
}
		
.onglet_0 {
	background-color : grey;
}
		
.onglet_0:hover {
	background-color : #C0C0C0;
	transition : 1s;
}

.onglet_1 {
	border-bottom : transparent
}

.contenu_onglets {
	max-width : 100%;
	padding : 5px;
}

.contenu_onglet {
	display : none;
}

/*Autres*/
#conteneurScale, #conteneurRotate, #conteneurRotate3D, #conteneurTranslate, #conteneurSkew, #conteneurMatrix {
	width : 90%;
	border : solid 1px black;
	text-align : center;
	color : white;
	height : 150px;
	margin : auto;

	#elementRotate, #elementRotate3D, #elementScale, #elementTranslate, #elementSkew, #elementMatrix {
		width : 100px;
		height : 50px;
		background-color : #131326;
		border : solid 1px black;
		margin : 50px auto;
		line-height : 50px;
	}
}

header {
	h2 {
		margin : 0;
	}
}

nav {
	width : 50%;
	margin : auto;
}

article {
	width : 48%;
	float : left;
	margin : auto 1% 1% 1%;

	ul {
		margin-top : -10px;
	}
}

button {
	margin-top : 5px;
}

.articles {
	margin : auto;
	width : 80%;
}

.syntaxe {
	float:right;
}

.attention {
	color : red;
	font-weight : bold;
}

img {
	display : block;
	margin : auto;
}

.menu {
	input {
		width : 50px;
	}

	.saisieParam {
		text-align : center;
		padding-top : 10px;
	}

	.rotate3D {
		width : 30%;
		float : left;
		border : solid 1px;
		@include box-sizing(border-box);
		margin : auto 1.66666% 10px 1.66666%;

		#rotateX, #rotateY, #rotateZ {
			width : 100px;
			height : 50px;
			background-color : #131326;
			border : solid 1px black;
			margin : 50px auto;
			line-height : 50px;
			font-size : 0.8em;
			text-align : center;
			color : white;
		}

		.saisieParam {
			margin-bottom : 5px;
		}
	}

	.scaleXY {
		width : 40%;
		float : left;
		@include box-sizing(border-box);
		border : solid 1px;
		margin : auto 5% 10px 5%;

		#elementScaleX, #elementScaleY {
			width : 100px;
			height : 50px;
			background-color : #131326;
			border : solid 1px black;
			margin : 50px auto;
			line-height : 50px;
			font-size : 0.8em;
			text-align : center;
			color : white;
		}

		.saisieParam {
			margin-bottom : 5px;
		}
	}

	.translation {
		width : 40%;
		float : left;
		@include box-sizing(border-box);
		border : solid 1px;
		margin : auto 5% 10px 5%;

		#elementTranslateX, #elementTranslateY {
			width : 100px;
			height : 50px;
			background-color : #131326;
			border : solid 1px black;
			margin : 50px auto;
			line-height : 50px;
			font-size : 0.8em;
			text-align : center;
			color : white;
		}

		.saisieParam {
			margin-bottom : 5px;
		}
	}

	.skewXY {
		width : 40%;
		float : left;
		@include box-sizing(border-box);
		border : solid 1px;
		margin : auto 5% 10px 5%;

		#elementSkewX, #elementSkewY {
			width : 100px;
			height : 50px;
			background-color : #131326;
			border : solid 1px black;
			margin : 50px auto;
			line-height : 50px;
			font-size : 0.8em;
			text-align : center;
			color : white;
		}

		.saisieParam {
			margin-bottom : 5px;
		}
	}
}

