.titre-principale h1{
    font-family: 'Parisienne', cursive;
}

.fontface h3{
    font-family: 'gooddogregular' !important;
    font-size: 3em;
}

.compatibilite h3{
    font-family: '20dbregular' !important;
    font-size: 1.5em;
}


.ressources h3{
    font-family: 'Black Ops One' !important;
}

.info1, .info2, .info3{
    display: none;
}

code{
    white-space: pre;
}