h1, h2, h3, h4, h5, h6
    color: #252628
    font-weight: 700

h1, .h1
    font-size: 2.5em
    margin-bottom: 1rem


h2, .h2
    font-size: 2.25em


h3, .h3
    font-size: 2em


h4, .h4
    font-size: 1.75em


h5, .h5
    font-size: 1.5em


h6, .h6
    font-size: 1.25em