$menu_bgcolor1: #1D2124
$menu_bgcolor2: #70877F
$menu_color: #F3E3C9
$menu_width: 14%

.menu
    border-right: solid 4px $menu_bgcolor2
    height: 100%
    width: $menu_width
    position: fixed
    text-align: center
    top: 0
    left: 0
    background-color: $menu_bgcolor1
    color: $menu_color
    p
        padding-top: 2em
        padding-bottom: 2em
        font-size: 2em
    ul
        li
            display: block
            width: 100%
            height: 3em
            line-height: 3em
            border-top: solid 3px $menu_bgcolor2
            a
                text-decoration: none
                color: $menu_color
                display: inline-block
                width: 100%
                height: 100%
                &:hover
                    background-color: #F3E3C9
                    color: rgb(29, 33, 36)
        &:last-child
            border-bottom: solid 3px $menu_bgcolor2