$height-item: 30em
$width-item: 55em

*
    box-sizing: border-box

.wrapper
    height: 100%

.tuto-container
    width: 100% - $menu_width
    height: 100%
    position: absolute
    overflow-x: hidden
    right: 0

.page-item
    width: 100%
    height: 100%
    margin: auto auto 9% 12%
    .item
        padding-top: 5%
        h1
            text-align: left
        .img-container
            display: inline-block
            width: 400px
            height: 100%
            img
                width: 100%
                max-height: 100%
            .slider
                padding-top: 1%
                text-align: center
                width: 100%

        .desc-container
            text-align: justify
            display: inline-block
            vertical-align: top
            width: 400px
            padding-left: 0.5em
            font-size: 1.1em
            p
                font-size: 0.875rem
                color: #2b2c31
                margin: 0.563rem auto
                text-align: justify
                a
                    text-decoration: none
                    border-bottom: dotted 1px #0095dd
                    color: #0095dd
                    &:hover
                        opacity: 0.7
            output
                width: 100%
                code
                    display: block
                    font-size: 0.875rem
                    width: 100%
                    background-color: beige
                    margin-top: 0.5em
                    padding: 0.4em
                    color: black
                    text-align: left
                    font-family: 'Lucida Console', "Andale Mono", AndaleMono, monospace

input[type='range'] 
    -webkit-appearance: none
    border-radius: 5px
    box-shadow: inset 0 0 5px #333
    background-color: $menu_bgcolor1
    height: 5px
    vertical-align: middle
input[type='range']::-moz-range-track 
    -moz-appearance: none
    border-radius: 5px
    box-shadow: inset 0 0 5px #333
    background-color: $menu_bgcolor1
    height: 5px
input[type='range']::-webkit-slider-thumb 
    -webkit-appearance: none !important
    border-radius: 20px
    background-color: #999
    border: 2px solid $menu_bgcolor1
    height: 16px
    width: 16px
input[type='range']::-moz-range-thumb 
    -moz-appearance: none
    border-radius: 20px
    background-color: #999
    border: 2px solid #999
    height: 16px
    width: 16px


