@import compass/reset

html,body
    background-color: #F3E3C9
    font-family: 'Open sans', sans-serif, Helvetica, 'Segoe UI', Arial, freesans
    height: 100%
    margin: 0
body
    line-height: 1.5


.dropshadow
    -webkit-filter: drop-shadow(5px 5px 5px #222)
    -moz-filter: drop-shadow(5px 5px 5px #222)
    -ms-filter: drop-shadow(5px 5px 5px #222)
    -o-filter: drop-shadow(5px 5px 5px #222)
    filter: drop-shadow(5px 5px 5px #222)

@import _h
@import _menu
@import _page-item
