/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.sass */
html, body {
  height: 100%;
  width: 100%;
  background-color: #F3E3C9;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

/* line 8, ../sass/main.sass */
body {
  width: calc(100% - 200px);
  margin-left: 200px;
}

/* line 11, ../sass/main.sass */
.dropshadow {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  -moz-filter: drop-shadow(5px 5px 5px #222);
  -ms-filter: drop-shadow(5px 5px 5px #222);
  -o-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* line 1, ../sass/_h.sass */
h1, .h1 {
  color: black;
  font-weight: bold;
  font-size: 2.5em;
}

/* line 7, ../sass/_h.sass */
h2, .h2 {
  color: black;
  font-weight: bold;
  font-size: 2.25em;
}

/* line 13, ../sass/_h.sass */
h3, .h3 {
  color: black;
  font-weight: bold;
  font-size: 2em;
}

/* line 19, ../sass/_h.sass */
h4, .h4 {
  color: black;
  font-weight: bold;
  font-size: 1.75em;
}

/* line 25, ../sass/_h.sass */
h5, .h5 {
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

/* line 31, ../sass/_h.sass */
h6, .h6 {
  color: black;
  font-weight: bold;
  font-size: 1.25em;
}

/* line 4, ../sass/_menu.sass */
.menu {
  width: 196px;
  border-right: solid 4px #70877F;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #1D2124;
  color: #F3E3C9;
}
/* line 14, ../sass/_menu.sass */
.menu p {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2em;
}
/* line 19, ../sass/_menu.sass */
.menu ul li {
  display: block;
  width: 100%;
  height: 3em;
  line-height: 3em;
  border-top: solid 3px #70877F;
}
/* line 25, ../sass/_menu.sass */
.menu ul li a {
  text-decoration: none;
  color: #F3E3C9;
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/_menu.sass */
.menu ul:last-child {
  border-bottom: solid 3px #70877F;
}

/* line 5, ../sass/_page-item.sass */
.page-item {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
/* line 9, ../sass/_page-item.sass */
.page-item .item {
  height: 30em;
  width: 55em;
  position: relative;
  top: calc(50% - 15em);
  left: calc(50% - 27.5em);
}
/* line 16, ../sass/_page-item.sass */
.page-item .item h1 {
  width: 70%;
  text-align: center;
  height: 10%;
}
/* line 20, ../sass/_page-item.sass */
.page-item .item .img-container {
  display: inline-block;
  float: left;
  height: 82%;
  width: 70%;
  text-align: center;
}
/* line 26, ../sass/_page-item.sass */
.page-item .item .img-container img {
  max-height: 100%;
  max-width: 100%;
}
/* line 29, ../sass/_page-item.sass */
.page-item .item .desc-container {
  text-align: justify;
  display: inline-block;
  float: left;
  width: 30%;
  box-sizing: border-box;
  padding-left: 0.5em;
  font-size: 1.1em;
}
/* line 37, ../sass/_page-item.sass */
.page-item .item .desc-container p {
  letter-spacing: 0.01em;
  line-height: 1.1em;
}
/* line 40, ../sass/_page-item.sass */
.page-item .item .desc-container output {
  width: 100%;
}
/* line 42, ../sass/_page-item.sass */
.page-item .item .desc-container output code {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: beige;
  margin-top: 0.5em;
  padding: 0.4em;
  color: black;
  font-family: "Andale Mono", AndaleMono, monospace;
}
/* line 52, ../sass/_page-item.sass */
.page-item .item .slider {
  padding-top: 1%;
  text-align: center;
  height: 5%;
  width: 70%;
  clear: both;
}

/* line 58, ../sass/_page-item.sass */
input[type='range'] {
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333;
  background-color: #1D2124;
  height: 5px;
  vertical-align: middle;
}

/* line 65, ../sass/_page-item.sass */
input[type='range']::-moz-range-track {
  -moz-appearance: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333;
  background-color: #1D2124;
  height: 5px;
}

/* line 71, ../sass/_page-item.sass */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 20px;
  background-color: #999;
  border: 2px solid #1D2124;
  height: 16px;
  width: 16px;
}

/* line 78, ../sass/_page-item.sass */
input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 20px;
  background-color: #999;
  border: 2px solid #999;
  height: 16px;
  width: 16px;
}
