
body{
	margin-top: 30px;
	background-color: #FFFFFF;
	font-family: arial, sans-serif;
	background-image: url("../img/bg_main.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.header{
	text-align: center;
	border: solid 1px black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px;
	background-color: #205081;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content{
	background-color: #FFFFFF;
	max-width: 70%;
	margin: auto;
	border: solid 2px grey;
	border-radius: 5px;
	padding: 20px;
}

#title {
	color: white;
	font-weight: bold;
	display: inline-block;
}

#keyword{
	font-style: italic;
}

h3 {
	color: blue;
	text-decoration: underline;
}

img {
	width: 100%;
}

code{
	border: solid 2px #000000;
	background-color: #C1D1E9; 
	width: 100%;
	display: inline-block; 
	padding: 5px;
	box-sizing: border-box;
}

.codeTitle{
	font-weight: bold;
	color: navy;
}

#pblanc{
	color: #FFFFFF;
}

#pinkTitle{
	color: rgb(225,103,167);
}

small{
	color: orange;
	font-style: italic;
	font-size: 0.7em;
}

#pred{
	color: red;
}

#bcViolet{
	background-color : #FF33CC;
}

#lastDiv{
	color: red;
	background-color: red;
}
