/*Reset CSS (Eric Meyer)*/
/* line 15, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 25, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, ../sass/header&footer.scss */
header {
  width: 100%;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 30% 30% / 0% 0% 30% 30%;
  border-radius: 0% 0% 30% 30% / 0% 0% 30% 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(#000000, #131326);
  min-height: 100px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 14, ../sass/header&footer.scss */
header h1 {
  margin: 0;
  padding: 0;
  color: white;
}

/* line 21, ../sass/header&footer.scss */
footer {
  width: 100%;
  -webkit-border-radius: 30% 30%;
  -moz-border-radius: 30% 30% 0% 0% / 30% 30% 0% 0%;
  border-radius: 30% 30% 0% 0% / 30% 30% 0% 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(#000000, #131326);
  min-height: 50px;
  text-align: center;
  padding-top: 20px;
  color: white;
  margin-top: 15px;
}

/*Titres et sous-titres*/
/* line 3, ../sass/titres.scss */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  margin: 15px 10px 20px 10px;
}

/* line 9, ../sass/titres.scss */
h1 {
  font-size: 2em;
}

/* line 13, ../sass/titres.scss */
h2 {
  font-size: 1.8em;
}

/* line 17, ../sass/titres.scss */
h3 {
  font-size: 1.6em;
}

/* line 21, ../sass/titres.scss */
h4 {
  font-size: 1.4em;
}

/* line 25, ../sass/titres.scss */
h5 {
  font-size: 1.2em;
}

/* line 29, ../sass/titres.scss */
h6 {
  font-size: 1em;
}

/* line 33, ../sass/titres.scss */
small {
  color: gray;
  font-weight: normal;
  font-size: 75%;
}

/*Paragraphes*/
/* line 3, ../sass/paragraphes.scss */
p {
  margin: 20px 10px 20px 10px;
}

/*Texte inline*/
/* line 3, ../sass/inline.scss */
strong {
  font-weight: bold;
}

/* line 7, ../sass/inline.scss */
em {
  font-style: italic;
}

/* line 11, ../sass/inline.scss */
abbr {
  cursor: help;
  border-bottom: dotted 1px;
}

/* line 16, ../sass/inline.scss */
del {
  text-decoration: line-through;
}

/* line 20, ../sass/inline.scss */
ins, u {
  text-decoration: underline;
}

/* line 24, ../sass/inline.scss */
mark {
  background-color: yellow;
}

/*Citation et code*/
/* line 3, ../sass/quote.scss */
blockquote {
  font-style: italic;
  background-color: #F0F0F0;
  border: groove;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  overflow: auto;
}

/* line 17, ../sass/quote.scss */
blockquote:before {
  content: "Citation : \201c";
  font-style: normal;
}

/* line 22, ../sass/quote.scss */
blockquote:after {
  content: "\201d";
  font-style: normal;
}

/* line 27, ../sass/quote.scss */
code {
  background-color: #F7F7D4;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
  border: groove;
  border-radius: 10px;
  font-family: "Courier New";
  overflow: auto;
}

/* line 42, ../sass/quote.scss */
code:before {
  content: "Code : ";
  font-style: normal;
  font-family: "Trebuchet MS";
}

/* line 49, ../sass/quote.scss */
kbd {
  font-family: "Courier New";
  font-size: 1.2em;
}

/*Listes*/
/* line 3, ../sass/liste.scss */
ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 8, ../sass/liste.scss */
ul li {
  margin-left: 20px;
}

/* line 12, ../sass/liste.scss */
ul li:before {
  content: "\2736 \20";
}

/* line 16, ../sass/liste.scss */
.square li:before {
  content: "\25aa \20";
}

/* line 20, ../sass/liste.scss */
.noDecoration li:before {
  content: none;
}

/*Alignements et transformations*/
/* line 3, ../sass/align.scss */
.alignGauche {
  text-align: left;
}

/* line 7, ../sass/align.scss */
.alignDroite {
  text-align: right;
}

/* line 11, ../sass/align.scss */
.alignCentre {
  text-align: center;
}

/* line 15, ../sass/align.scss */
.justifie {
  text-align: justify;
}

/* line 19, ../sass/align.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 23, ../sass/align.scss */
.minuscule {
  text-transform: lowercase;
}

/*Tableaux*/
/* line 7, ../sass/table.scss */
table {
  caption-side: bottom;
  background-color: white;
  text-align: center;
  margin: 10px;
  border-collapse: collapse;
}

/* line 15, ../sass/table.scss */
td, th {
  border: solid 1px;
  padding: 3px;
}

/* line 20, ../sass/table.scss */
th {
  font-weight: bold;
  background-color: #d1d1d1;
}

/* line 25, ../sass/table.scss */
caption {
  margin-top: 10px;
  text-decoration: underline;
}

/* line 32, ../sass/table.scss */
.ligneAlterneeStructure tbody tr:nth-child(2n+1) {
  background-color: #d1f1fd;
}

/* line 39, ../sass/table.scss */
.ligneAlterneeSimple tr:nth-child(2n) {
  background-color: #d1f1fd;
}

/* line 46, ../sass/table.scss */
.ligneActive tbody tr:hover {
  background-color: grey;
  color: white;
}

/* line 4, ../sass/bouton.scss */
.btn {
  font-size: 1em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding: 2px;
  margin: 10px 5px 10px 5px;
}

/* line 12, ../sass/bouton.scss */
.btn:hover {
  cursor: pointer;
}

/* line 16, ../sass/bouton.scss */
.btn-normal {
  background-image: linear-gradient(#000000, #131326);
  color: white;
}

/* line 21, ../sass/bouton.scss */
.btn-normal:hover {
  background-image: linear-gradient(#000000, #3b3b4e);
}

/* line 25, ../sass/bouton.scss */
.btn-rouge {
  background-image: linear-gradient(#000000, #c60000);
  color: white;
}

/* line 30, ../sass/bouton.scss */
.btn-rouge:hover {
  background-image: linear-gradient(#000000, #ff0000);
}

/* line 35, ../sass/bouton.scss */
.btn-blue {
  background-image: linear-gradient(#000000, #3090ff);
  color: white;
}

/* line 41, ../sass/bouton.scss */
.btn-blue:hover {
  background-image: linear-gradient(#000000, #62c2ff);
}

/* line 46, ../sass/bouton.scss */
.btn-green {
  background-image: linear-gradient(#000000, #00aa00);
  color: white;
}

/* line 52, ../sass/bouton.scss */
.btn-green:hover {
  background-image: linear-gradient(#000000, #00cd00);
}

/* line 57, ../sass/bouton.scss */
.btn-lg {
  font-size: 1.2em;
  padding: 3px;
}

/* line 63, ../sass/bouton.scss */
.btn-sm {
  font-size: 0.8em;
  padding: 1px;
}

/* line 68, ../sass/bouton.scss */
.fancy {
  background-image: radial-gradient(#ff0000, #000000);
  -webkit-border-radius: 0px 7px 0px 7px;
  -moz-border-radius: 0px 7px 0px 7px;
  -ms-border-radius: 0px 7px 0px 7px;
  -o-border-radius: 0px 7px 0px 7px;
  border-radius: 0px 7px 0px 7px;
  color: white;
}

/* line 74, ../sass/bouton.scss */
.fancy:hover {
  background-image: radial-gradient(#000000, #ff0000);
  -webkit-border-radius: 7px 0px 7px 0px;
  -moz-border-radius: 7px 0px 7px 0px;
  -ms-border-radius: 7px 0px 7px 0px;
  -o-border-radius: 7px 0px 7px 0px;
  border-radius: 7px 0px 7px 0px;
}

/* line 4, ../sass/article.scss */
article {
  border-top: solid 2px black;
  border-left: solid 2px #131326;
  margin: 15px 10px 15px 10px;
  padding-bottom: 2px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 10% 0% / 0% 0% 25% 0%;
  border-radius: 0% 0% 10% 0% / 0% 0% 25% 0%;
}
/* line 13, ../sass/article.scss */
article .titreArticle {
  font-size: 1.5em;
  margin: 0px 0px 0px 0px;
  padding: 8px;
  background-image: linear-gradient(#000000, #131326);
  color: white;
  display: inline-block;
  -webkit-border-radius: 0% 0%;
  -moz-border-radius: 0% 0% 15% 0% / 0% 0% 45% 0%;
  border-radius: 0% 0% 15% 0% / 0% 0% 45% 0%;
}

/* line 1, ../sass/liens.scss */
a:focus {
  color: red;
  font-weight: bold;
}

/* line 6, ../sass/liens.scss */
a:hover {
  color: #636376;
  font-weight: bold;
}

/* line 11, ../sass/liens.scss */
a:active {
  color: silver;
  font-weight: bold;
}

/* line 16, ../sass/liens.scss */
a {
  color: #636376;
  text-decoration: inherit;
}

/* line 4, ../sass/menu.scss */
.menuBarre {
  display: flex;
  width: 80%;
  margin: 20px auto 30px auto;
}
/* line 9, ../sass/menu.scss */
.menuBarre li {
  display: inline;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  border: solid 1px;
  margin-left: 0;
  border-right: 0px;
  background-image: linear-gradient(#000000, #131326);
}
/* line 23, ../sass/menu.scss */
.menuBarre li a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}
/* line 31, ../sass/menu.scss */
.menuBarre li:before {
  content: none;
}
/* line 35, ../sass/menu.scss */
.menuBarre li:active {
  background-image: linear-gradient(#000000, #3b3b4e);
}
/* line 39, ../sass/menu.scss */
.menuBarre li:first-child {
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px 0px 0px 8px / 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px / 8px 0px 0px 8px;
}
/* line 43, ../sass/menu.scss */
.menuBarre li:last-child {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px 8px 8px 0px / 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px / 0px 8px 8px 0px;
  border-right: solid 1px;
}

/* line 19, ../sass/renduFramework.scss */
body {
  background-color: #A0A0A0;
  font-family: "Trebuchet MS";
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-1 {
  width: 11.625%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-1 {
  margin-left: 12.625%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-2 {
  width: 24.25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-2 {
  margin-left: 25.25%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-3 {
  width: 36.875%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-3 {
  margin-left: 37.875%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-4 {
  width: 49.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-4 {
  margin-left: 50.5%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-5 {
  width: 62.125%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-5 {
  margin-left: 63.125%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-6 {
  width: 74.75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-6 {
  margin-left: 75.75%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-7 {
  width: 87.375%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-7 {
  margin-left: 88.375%;
}

/* GENERATION DES CLASSES */
/* line 15, ../mixin/grilleMixin.scss */
.span-8 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 1%;
  float: left;
  margin-bottom: 1%;
  border: solid 1px;
}

/* line 24, ../mixin/grilleMixin.scss */
.off-8 {
  margin-left: 101%;
}

/* line 30, ../mixin/grilleMixin.scss */
.first {
  clear: left;
}

/* line 34, ../mixin/grilleMixin.scss */
.last {
  margin-right: 0;
}

/* line 38, ../mixin/grilleMixin.scss */
.row {
  clear: right;
}

/* line 42, ../mixin/grilleMixin.scss */
.clearfix {
  overflow: auto;
}
