@charset "UTF-8";
@import url(../stylesheets/renduFramework.css);
/*Règles pour le menu à onglets*/
/* line 6, ../sass/style.scss */
.menu {
  width: 60%;
  border: solid 1px black;
  border-radius: 10px;
  margin: auto;
  font-size: 1em;
  background-color: white;
}

/* line 15, ../sass/style.scss */
.onglets {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/style.scss */
.onglets li {
  text-align: center;
  color: black;
  font-size: 1.4em;
  padding: 5px;
  margin: 0;
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-left: transparent;
  border-top: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  width: 20%;
}

/* line 38, ../sass/style.scss */
.onglets li:first-child {
  border-radius: 10px 0 0 0;
}

/* line 42, ../sass/style.scss */
.onglets li:last-child {
  border-radius: 0 10px 0 0;
  border-right: transparent;
}

/* line 47, ../sass/style.scss */
.onglet_0 {
  background-color: grey;
}

/* line 51, ../sass/style.scss */
.onglet_0:hover {
  background-color: #C0C0C0;
  transition: 1s;
}

/* line 56, ../sass/style.scss */
.onglet_1 {
  border-bottom: transparent;
}

/* line 60, ../sass/style.scss */
.contenu_onglets {
  max-width: 100%;
  padding: 5px;
}

/* line 65, ../sass/style.scss */
.contenu_onglet {
  display: none;
}

/*Autres*/
/* line 70, ../sass/style.scss */
#conteneurScale, #conteneurRotate, #conteneurRotate3D, #conteneurTranslate, #conteneurSkew, #conteneurMatrix {
  width: 90%;
  border: solid 1px black;
  text-align: center;
  color: white;
  height: 150px;
  margin: auto;
}
/* line 78, ../sass/style.scss */
#conteneurScale #elementRotate, #conteneurScale #elementRotate3D, #conteneurScale #elementScale, #conteneurScale #elementTranslate, #conteneurScale #elementSkew, #conteneurScale #elementMatrix, #conteneurRotate #elementRotate, #conteneurRotate #elementRotate3D, #conteneurRotate #elementScale, #conteneurRotate #elementTranslate, #conteneurRotate #elementSkew, #conteneurRotate #elementMatrix, #conteneurRotate3D #elementRotate, #conteneurRotate3D #elementRotate3D, #conteneurRotate3D #elementScale, #conteneurRotate3D #elementTranslate, #conteneurRotate3D #elementSkew, #conteneurRotate3D #elementMatrix, #conteneurTranslate #elementRotate, #conteneurTranslate #elementRotate3D, #conteneurTranslate #elementScale, #conteneurTranslate #elementTranslate, #conteneurTranslate #elementSkew, #conteneurTranslate #elementMatrix, #conteneurSkew #elementRotate, #conteneurSkew #elementRotate3D, #conteneurSkew #elementScale, #conteneurSkew #elementTranslate, #conteneurSkew #elementSkew, #conteneurSkew #elementMatrix, #conteneurMatrix #elementRotate, #conteneurMatrix #elementRotate3D, #conteneurMatrix #elementScale, #conteneurMatrix #elementTranslate, #conteneurMatrix #elementSkew, #conteneurMatrix #elementMatrix {
  width: 100px;
  height: 50px;
  background-color: #131326;
  border: solid 1px black;
  margin: 50px auto;
  line-height: 50px;
}

/* line 89, ../sass/style.scss */
header h2 {
  margin: 0;
}

/* line 94, ../sass/style.scss */
nav {
  width: 50%;
  margin: auto;
}

/* line 99, ../sass/style.scss */
article {
  width: 48%;
  float: left;
  margin: auto 1% 1% 1%;
}
/* line 104, ../sass/style.scss */
article ul {
  margin-top: -10px;
}

/* line 109, ../sass/style.scss */
button {
  margin-top: 5px;
}

/* line 113, ../sass/style.scss */
.articles {
  margin: auto;
  width: 80%;
}

/* line 118, ../sass/style.scss */
.syntaxe {
  float: right;
}

/* line 122, ../sass/style.scss */
.attention {
  color: red;
  font-weight: bold;
}

/* line 127, ../sass/style.scss */
img {
  display: block;
  margin: auto;
}

/* line 133, ../sass/style.scss */
.menu input {
  width: 50px;
}
/* line 137, ../sass/style.scss */
.menu .saisieParam {
  text-align: center;
  padding-top: 10px;
}
/* line 142, ../sass/style.scss */
.menu .rotate3D {
  width: 30%;
  float: left;
  border: solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto 1.66666% 10px 1.66666%;
}
/* line 149, ../sass/style.scss */
.menu .rotate3D #rotateX, .menu .rotate3D #rotateY, .menu .rotate3D #rotateZ {
  width: 100px;
  height: 50px;
  background-color: #131326;
  border: solid 1px black;
  margin: 50px auto;
  line-height: 50px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}
/* line 161, ../sass/style.scss */
.menu .rotate3D .saisieParam {
  margin-bottom: 5px;
}
/* line 166, ../sass/style.scss */
.menu .scaleXY {
  width: 40%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px;
  margin: auto 5% 10px 5%;
}
/* line 173, ../sass/style.scss */
.menu .scaleXY #elementScaleX, .menu .scaleXY #elementScaleY {
  width: 100px;
  height: 50px;
  background-color: #131326;
  border: solid 1px black;
  margin: 50px auto;
  line-height: 50px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}
/* line 185, ../sass/style.scss */
.menu .scaleXY .saisieParam {
  margin-bottom: 5px;
}
/* line 190, ../sass/style.scss */
.menu .translation {
  width: 40%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px;
  margin: auto 5% 10px 5%;
}
/* line 197, ../sass/style.scss */
.menu .translation #elementTranslateX, .menu .translation #elementTranslateY {
  width: 100px;
  height: 50px;
  background-color: #131326;
  border: solid 1px black;
  margin: 50px auto;
  line-height: 50px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}
/* line 209, ../sass/style.scss */
.menu .translation .saisieParam {
  margin-bottom: 5px;
}
/* line 214, ../sass/style.scss */
.menu .skewXY {
  width: 40%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px;
  margin: auto 5% 10px 5%;
}
/* line 221, ../sass/style.scss */
.menu .skewXY #elementSkewX, .menu .skewXY #elementSkewY {
  width: 100px;
  height: 50px;
  background-color: #131326;
  border: solid 1px black;
  margin: 50px auto;
  line-height: 50px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}
/* line 233, ../sass/style.scss */
.menu .skewXY .saisieParam {
  margin-bottom: 5px;
}
