/* line 11, ../scss/app.scss */
body {
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}

/* line 19, ../scss/app.scss */
ul.sommaire {
  margin-bottom: 2em;
}
/* line 21, ../scss/app.scss */
ul.sommaire li {
  list-style-type: none;
}
/* line 23, ../scss/app.scss */
ul.sommaire li a {
  font-weight: bold;
  color: #AB47BC;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 27, ../scss/app.scss */
ul.sommaire li a:hover {
  color: #CE93D8;
}
/* line 33, ../scss/app.scss */
ul li {
  margin-bottom: 1em;
}

/* line 37, ../scss/app.scss */
hr {
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 42, ../scss/app.scss */
h1 {
  color: #4A148C;
}

/* line 46, ../scss/app.scss */
h2 {
  color: #6A1B9A;
}

/* line 50, ../scss/app.scss */
h3 {
  color: #7B1FA2;
}

/* line 54, ../scss/app.scss */
h4 {
  color: #8E24AA;
}

/* line 58, ../scss/app.scss */
h5 {
  color: #9C27B0;
}

/* line 62, ../scss/app.scss */
.exemple {
  position: relative;
  width: 100%;
}
/* line 66, ../scss/app.scss */
.exemple .container {
  position: relative;
  height: -moz-calc(2em + 75px);
  height: -webkit-calc(2em + 75px);
  height: calc(2em + 75px);
}
/* line 71, ../scss/app.scss */
.exemple .ball {
  width: 75px;
  height: 75px;
  -moz-border-radius: 37.5px;
  -webkit-border-radius: 37.5px;
  border-radius: 37.5px;
  background-color: #2ecc71;
  position: absolute;
  left: 0;
}
/* line 81, ../scss/app.scss */
.exemple:hover .ball {
  left: -moz-calc(100% - 75px);
  left: -webkit-calc(100% - 75px);
  left: calc(100% - 75px);
}

/* line 87, ../scss/app.scss */
.ease {
  -moz-transition: left 1s ease;
  -o-transition: left 1s ease;
  -webkit-transition: left 1s ease;
  transition: left 1s ease;
}

/* line 91, ../scss/app.scss */
.delay {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 95, ../scss/app.scss */
.linear {
  -moz-transition: left 1s linear;
  -o-transition: left 1s linear;
  -webkit-transition: left 1s linear;
  transition: left 1s linear;
}

/* line 99, ../scss/app.scss */
.ease-in {
  -moz-transition: left 1s ease-in;
  -o-transition: left 1s ease-in;
  -webkit-transition: left 1s ease-in;
  transition: left 1s ease-in;
}

/* line 103, ../scss/app.scss */
.ease-out {
  -moz-transition: left 1s ease-out;
  -o-transition: left 1s ease-out;
  -webkit-transition: left 1s ease-out;
  transition: left 1s ease-out;
}

/* line 107, ../scss/app.scss */
.ease-in-out {
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}

/* line 111, ../scss/app.scss */
.cubic-bezier {
  -moz-transition: left 1s cubic-bezier(0.67, -0.525, 0.34, 1.06);
  -o-transition: left 1s cubic-bezier(0.67, -0.525, 0.34, 1.06);
  -webkit-transition: left 1s cubic-bezier(0.67, -0.525, 0.34, 1.06);
  transition: left 1s cubic-bezier(0.67, -0.525, 0.34, 1.06);
}

/* line 115, ../scss/app.scss */
.ex1 {
  background-color: blue;
}
/* line 117, ../scss/app.scss */
.ex1:hover {
  background-color: red;
}

/* line 122, ../scss/app.scss */
.ex2 {
  background-color: blue;
  transition: background-color 1s;
}
/* line 125, ../scss/app.scss */
.ex2:hover {
  background-color: red;
}

/* line 130, ../scss/app.scss */
.ex-delai-avec {
  background-color: blue;
  transition: background-color 1s;
  transition-delay: 1s;
}
/* line 134, ../scss/app.scss */
.ex-delai-avec:hover {
  background-color: red;
}
