/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 17, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 21, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 25, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 31, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==== Lists ==== */
/* line 5, ../scss/_organizing.scss */
ul {
  margin: .5em 0 .5em 0;
  padding-left: 2em;
}

/* line 13, ../scss/_organizing.scss */
ul > li {
  list-style-type: disc;
}

/* line 17, ../scss/_organizing.scss */
ul > ul > li {
  list-style-type: circle;
}

/* line 21, ../scss/_organizing.scss */
ul > ul > ul > li, .square {
  list-style-type: square;
}

/* line 25, ../scss/_organizing.scss */
li.nodec {
  list-style-type: none;
}

/* ==== Tables ==== */
/* line 33, ../scss/_organizing.scss */
table.sweetable {
  text-align: center;
  margin: .5em 0 .5em 0;
}

/* line 38, ../scss/_organizing.scss */
.sweetable th {
  background-color: grey;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
  border: solid 1px darkgrey;
}

/* line 45, ../scss/_organizing.scss */
.sweetable td {
  padding: 0.2em .6em 0.2em .6em;
  border: solid 1px grey;
}

/* line 50, ../scss/_organizing.scss */
table.alternate tr:nth-child(odd) {
  background-color: lightgrey;
}

/* line 54, ../scss/_organizing.scss */
table.hoveractive tr:hover {
  background-color: #efefef;
}

/* line 58, ../scss/_organizing.scss */
table.left-align {
  text-align: left;
}

/* line 62, ../scss/_organizing.scss */
table.right-align {
  text-align: right;
}

/* Containers */
/* line 5, ../scss/_containers.scss */
.fullwidth {
  width: 100%;
}

/* line 9, ../scss/_containers.scss */
.cont {
  margin: 1em auto;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}

/* line 16, ../scss/_containers.scss */
.cont100 {
  width: 100px;
}

/* line 20, ../scss/_containers.scss */
.cont200 {
  width: 200px;
}

/* line 24, ../scss/_containers.scss */
.cont250 {
  width: 250px;
}

/* line 28, ../scss/_containers.scss */
.cont300 {
  width: 300px;
}

/* line 32, ../scss/_containers.scss */
.cont400 {
  width: 400px;
}

/* line 36, ../scss/_containers.scss */
.cont500 {
  width: 500px;
}

/* line 42, ../scss/_containers.scss */
.cont *:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 47, ../scss/_containers.scss */
.cont *:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 52, ../scss/_containers.scss */
.cont > * {
  margin-left: 1em;
  margin-right: 1em;
}

/* ==== Alerts ==== */
/* line 59, ../scss/_containers.scss */
.alert {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  opacity: 1;
  overflow: hidden;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid grey;
  color: white;
}

/* line 73, ../scss/_containers.scss */
.alert.alert-warn {
  background-color: #fc4c56;
  border-color: #6b2327;
}

/* line 78, ../scss/_containers.scss */
.alert.alert-headsup {
  background-color: #57c4ff;
  border-color: #04306d;
}

/* line 83, ../scss/_containers.scss */
.alert.alert-success {
  background-color: #4cb948;
  border-color: #256f01;
}

/* line 88, ../scss/_containers.scss */
.alert-noborder {
  margin: 0;
  border: none;
  border-radius: 0;
}

/* Colors */
/* Mixins */
/* ==== Buttons ==== */
/* line 42, ../scss/_buttons.scss */
a.btn, button.btn {
  /* Base button */
  text-decoration: none;
  cursor: pointer;
  padding: 0.5em 1em 0.3em 1em;
  background-color: inherit;
  border-radius: 4px;
  margin: 10px 3px;
  font-size: 1.3em;
  line-height: 2.3em;
  transition: color .3s, background-color .3s, border-color .3s;
  text-align: center;
  color: #a4a4a4;
  border-color: #a4a4a4;
  color: #a4a4a4;
  border: 2px solid #a4a4a4;
  /* Button colors */
  /* Button sizes */
  /* Fancy style */
}
/* line 18, ../scss/_buttons.scss */
a.btn:visited, button.btn:visited {
  color: #a4a4a4;
}
/* line 22, ../scss/_buttons.scss */
a.btn.hoveractive:hover, button.btn.hoveractive:hover {
  background-color: #a4a4a4;
  border-color: #d7d7d7;
  color: white;
}
/* line 57, ../scss/_buttons.scss */
a.btn.inactive, button.btn.inactive {
  opacity: .4;
  pointer-events: none;
  cursor: default;
}
/* line 64, ../scss/_buttons.scss */
a.btn.btn-blue, button.btn.btn-blue {
  color: #3399ff;
  border-color: #3399ff;
  color: #3399ff;
  border: 2px solid #3399ff;
}
/* line 18, ../scss/_buttons.scss */
a.btn.btn-blue:visited, button.btn.btn-blue:visited {
  color: #3399ff;
}
/* line 22, ../scss/_buttons.scss */
a.btn.btn-blue.hoveractive:hover, button.btn.btn-blue.hoveractive:hover {
  background-color: #3399ff;
  border-color: #99ccff;
  color: white;
}
/* line 68, ../scss/_buttons.scss */
a.btn.btn-red, button.btn.btn-red {
  color: #ff3333;
  border-color: #ff3333;
  color: #ff3333;
  border: 2px solid #ff3333;
}
/* line 18, ../scss/_buttons.scss */
a.btn.btn-red:visited, button.btn.btn-red:visited {
  color: #ff3333;
}
/* line 22, ../scss/_buttons.scss */
a.btn.btn-red.hoveractive:hover, button.btn.btn-red.hoveractive:hover {
  background-color: #ff3333;
  border-color: #ff9999;
  color: white;
}
/* line 72, ../scss/_buttons.scss */
a.btn.btn-green, button.btn.btn-green {
  color: #66cc00;
  border-color: #66cc00;
  color: #66cc00;
  border: 2px solid #66cc00;
}
/* line 18, ../scss/_buttons.scss */
a.btn.btn-green:visited, button.btn.btn-green:visited {
  color: #66cc00;
}
/* line 22, ../scss/_buttons.scss */
a.btn.btn-green.hoveractive:hover, button.btn.btn-green.hoveractive:hover {
  background-color: #66cc00;
  border-color: #99ff33;
  color: white;
}
/* line 77, ../scss/_buttons.scss */
a.btn.fullwidth, button.btn.fullwidth {
  display: block;
  box-sizing: border-box;
}
/* line 82, ../scss/_buttons.scss */
a.btn.small, button.btn.small {
  border-width: 1px;
  font-size: 1em;
  padding: .4em .5em .2em .5em;
  border-radius: 3px;
  margin-top: 10px 4px;
  line-height: 2em;
}
/* line 91, ../scss/_buttons.scss */
a.btn.large, button.btn.large {
  border-width: 3px;
  font-size: 2.2em;
  padding: .3em .5em .2em .5em;
  border-radius: 8px;
  margin-top: 10px 4px;
  line-height: 2em;
}
/* line 101, ../scss/_buttons.scss */
a.btn.fancy, button.btn.fancy {
  color: white;
  text-shadow: 0 -1px 1px #444;
  transition: box-shadow .2s;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3ZDdkNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhiOGI4YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d7d7d7), color-stop(100%, #8b8b8b));
  background-image: -moz-linear-gradient(#d7d7d7, #8b8b8b);
  background-image: -webkit-linear-gradient(#d7d7d7, #8b8b8b);
  background-image: linear-gradient(#d7d7d7, #8b8b8b);
  border-color: #a4a4a4;
  color: white;
}
/* line 34, ../scss/_buttons.scss */
a.btn.fancy.hoveractive:hover, button.btn.fancy.hoveractive:hover {
  border-color: #a4a4a4;
}
/* line 107, ../scss/_buttons.scss */
a.btn.fancy.hoveractive:hover, button.btn.fancy.hoveractive:hover {
  -moz-box-shadow: 0 0 7px 0 #656565;
  -webkit-box-shadow: 0 0 7px 0 #656565;
  box-shadow: 0 0 7px 0 #656565;
}
/* line 111, ../scss/_buttons.scss */
a.btn.fancy.btn-blue, button.btn.fancy.btn-blue {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5Y2NmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwN2ZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccff), color-stop(100%, #007fff));
  background-image: -moz-linear-gradient(#99ccff, #007fff);
  background-image: -webkit-linear-gradient(#99ccff, #007fff);
  background-image: linear-gradient(#99ccff, #007fff);
  border-color: #3399ff;
  color: white;
}
/* line 34, ../scss/_buttons.scss */
a.btn.fancy.btn-blue.hoveractive:hover, button.btn.fancy.btn-blue.hoveractive:hover {
  border-color: #3399ff;
}
/* line 115, ../scss/_buttons.scss */
a.btn.fancy.btn-red, button.btn.fancy.btn-red {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTk5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9999), color-stop(100%, #ff0000));
  background-image: -moz-linear-gradient(#ff9999, #ff0000);
  background-image: -webkit-linear-gradient(#ff9999, #ff0000);
  background-image: linear-gradient(#ff9999, #ff0000);
  border-color: #ff3333;
  color: white;
}
/* line 34, ../scss/_buttons.scss */
a.btn.fancy.btn-red.hoveractive:hover, button.btn.fancy.btn-red.hoveractive:hover {
  border-color: #ff3333;
}
/* line 119, ../scss/_buttons.scss */
a.btn.fancy.btn-green, button.btn.fancy.btn-green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZmYzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkOTkwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ff33), color-stop(100%, #4d9900));
  background-image: -moz-linear-gradient(#99ff33, #4d9900);
  background-image: -webkit-linear-gradient(#99ff33, #4d9900);
  background-image: linear-gradient(#99ff33, #4d9900);
  border-color: #66cc00;
  color: white;
}
/* line 34, ../scss/_buttons.scss */
a.btn.fancy.btn-green.hoveractive:hover, button.btn.fancy.btn-green.hoveractive:hover {
  border-color: #66cc00;
}

/* Links */
/* line 5, ../scss/_text.scss */
a {
  color: #14a3e5;
}

/* line 9, ../scss/_text.scss */
a:visited {
  color: #93cfff;
}

/* line 13, ../scss/_text.scss */
a.anchor {
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

/* Paragraphs */
/* line 20, ../scss/_text.scss */
p {
  margin: .6em 0 .6em 0;
  line-height: 1.2em;
}

/* Inline styles */
/* line 26, ../scss/_text.scss */
mark {
  background-color: yellow;
}

/* line 42, ../scss/_text.scss */
strong {
  font-weight: bold;
}

/* line 46, ../scss/_text.scss */
em {
  font-style: italic;
}

/* line 50, ../scss/_text.scss */
abbr {
  border-bottom: dotted darkgrey 1px;
  cursor: help;
}

/* Quote & blockquote */
/* line 56, ../scss/_text.scss */
blockquote {
  margin: 0 0 1em 3em;
  color: grey;
  border-left: .5em solid lightgrey;
  padding-left: 1em;
}

/* line 63, ../scss/_text.scss */
code {
  font-family: Consolas, monaco, monospace;
  background-color: #ebebeb;
}

/* line 68, ../scss/_text.scss */
pre {
  white-space: pre;
  font-family: Consolas, monaco, monospace;
  background-color: #ddd;
  line-height: 1.3em;
  color: #4d4d4d;
  overflow: scroll;
  padding: 1em;
  margin: 1em 0 1em 2em;
  border-left: grey solid 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* line 82, ../scss/_text.scss */
kbd {
  border: 1px solid grey;
  border-radius: 2px;
  padding: 2px;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

/* ==== Edition de texte ==== */
/* line 92, ../scss/_text.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 96, ../scss/_text.scss */
.lowercase {
  text-transform: lowercase;
}

/* line 100, ../scss/_text.scss */
.justify {
  text-align: justify;
}

/* line 104, ../scss/_text.scss */
.center {
  text-align: center;
}

/* line 108, ../scss/_text.scss */
.left-align {
  text-align: left;
}

/* line 112, ../scss/_text.scss */
.right-align {
  text-align: right;
}

/* Font */
/* first for IE */
@font-face {
  font-family: KievitWebPro-Black;
  src: url(font/KievitWebPro-Black.eot);
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro-Black;
  src: url(font/KievitWebPro-Black.woff) format("woff");
}
/* first for IE */
@font-face {
  font-family: KievitWebPro-Bold;
  src: url(font/KievitWebPro-Bold.eot);
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro-Bold;
  src: url(font/KievitWebPro-Bold.woff) format("woff");
}
/* first for IE */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro.eot);
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro.woff) format("woff");
}
/* first for IE */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro-Ita.eot);
  font-weight: normal;
  font-style: italic;
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro-Ita.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}
/* first for IE */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro-Bold.eot);
  font-weight: bold;
  font-style: normal;
}
/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitWebPro;
  src: url(font/KievitWebPro-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
/* line 70, ../scss/_font.scss */
body {
  line-height: 1;
  font-family: KievitWebPro, "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

/* Titres */
/* line 3, ../scss/_titles.scss */
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: bold;
  margin: 0.4em 0 0.8em 0;
}

/* line 9, ../scss/_titles.scss */
h1 {
  font-size: 3em;
  text-shadow: 0 -1px 0px lightgrey;
  font-weight: black;
}

/* line 15, ../scss/_titles.scss */
h2 {
  font-size: 2.5em;
  text-shadow: 0 -1px 0 lightgrey;
}

/* line 20, ../scss/_titles.scss */
h3 {
  font-size: 2em;
}

/* line 24, ../scss/_titles.scss */
h4 {
  font-size: 1.5em;
  color: grey;
}

/* line 29, ../scss/_titles.scss */
h5 {
  font-size: 1.2em;
  color: grey;
}

/* line 34, ../scss/_titles.scss */
.sub, .sidesub, h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 0.6em;
  display: block;
  font-weight: lighter;
  color: grey;
  text-shadow: none;
}

/* line 42, ../scss/_titles.scss */
.sidesub {
  display: inline-block;
}

/* Grid system */
/* line 20, ../scss/_grid.scss */
.grid-container {
  width: 100%;
  display: block;
  overflow: hidden;
  *zoom: 1;
  background-color: lightgreen;
}

/* line 27, ../scss/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../scss/_grid.scss */
.span-1 {
  box-sizing: border-box;
  float: left;
  width: 6.33333%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-2 {
  box-sizing: border-box;
  float: left;
  width: 14.66667%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-3 {
  box-sizing: border-box;
  float: left;
  width: 23%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-4 {
  box-sizing: border-box;
  float: left;
  width: 31.33333%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-5 {
  box-sizing: border-box;
  float: left;
  width: 39.66667%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-6 {
  box-sizing: border-box;
  float: left;
  width: 48%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-7 {
  box-sizing: border-box;
  float: left;
  width: 56.33333%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-8 {
  box-sizing: border-box;
  float: left;
  width: 64.66667%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-9 {
  box-sizing: border-box;
  float: left;
  width: 73%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-10 {
  box-sizing: border-box;
  float: left;
  width: 81.33333%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-11 {
  box-sizing: border-box;
  float: left;
  width: 89.66667%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 33, ../scss/_grid.scss */
.span-12 {
  box-sizing: border-box;
  float: left;
  width: 98%;
  margin: 0 1%;
  background-color: red;
  opacity: .8;
}

/* line 39, ../scss/_grid.scss */
.offset-1 {
  margin-left: 9.33333%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-2 {
  margin-left: 17.66667%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-3 {
  margin-left: 26%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-4 {
  margin-left: 34.33333%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-5 {
  margin-left: 42.66667%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-6 {
  margin-left: 51%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-7 {
  margin-left: 59.33333%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-8 {
  margin-left: 67.66667%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-9 {
  margin-left: 76%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-10 {
  margin-left: 84.33333%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-11 {
  margin-left: 92.66667%;
  background-color: orange;
}

/* line 39, ../scss/_grid.scss */
.offset-12 {
  margin-left: 101%;
  background-color: orange;
}

/* line 5, ../scss/crossbow.scss */
.page {
  max-width: 960px;
  margin: auto;
  padding: 20px 20px 20px 20px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
