@import "compass";

$diameterBall: 75px;

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

body {
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}


ul {
    &.sommaire {
        margin-bottom: 2em;
        li {
            list-style-type: none;
            a {
                font-weight: bold;
                color: #AB47BC;
                @include transition(color 0.2s ease);
                &:hover {
                    color: #CE93D8;
                }
            }
        }
    }
    li {
        margin-bottom:1em;
    }
}
hr {
    margin-bottom: 1em;
    margin-top: 1em;
}

h1 {
    color: #4A148C;
}

h2 {
    color: #6A1B9A;
}

h3 {
    color: #7B1FA2;
}

h4 {
    color: #8E24AA;
}

h5 {
    color: #9C27B0;
}

.exemple {
    position: relative;
    width: 100%;

    .container {
        position: relative;
        @include calc(height, "2em + #{$diameterBall}");
    }

    .ball {
        width: $diameterBall;
        height: $diameterBall;
        @include border-radius($diameterBall/2);
        background-color: #2ecc71;
        position: absolute;
        left: 0;
    }

    &:hover {
        .ball {
            @include calc(left, "100% - #{$diameterBall}");
        }
    }
}

.ease {
    @include transition(left 1s ease);
}

.delay {
    @include transition-delay(1s);
}

.linear {
    @include transition(left 1s linear);
}

.ease-in {
    @include transition(left 1s ease-in);
}

.ease-out {
    @include transition(left 1s ease-out);
}

.ease-in-out {
    @include transition(left 1s ease-in-out);
}

.cubic-bezier {
    @include transition(left 1s cubic-bezier(0.670, -0.525, 0.340, 1.060));
}

.ex1 {
    background-color:blue;
    &:hover {
        background-color:red;
    }
}

.ex2 {
    background-color:blue;
    transition:background-color 1s;
    &:hover {
        background-color:red;
    }
}

.ex-delai-avec{
    background-color: blue;
    transition: background-color 1s;
    transition-delay: 1s;
    &:hover{
        background-color: red;
    }
}
