#blending-img {
  width: 200px;
  height: 200px;
  background-image: url("../img/blending_creeper.jpg");
}

#blending-color {
  width: 200px;
  height: 200px;
  background-color: green;
}

#blending-result {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url("../img/blending_creeper.jpg");
  background-color: green;
  background-blend-mode: multiply;
}