#blending-img1 {
  width: 200px;
  height: 200px;
  background-image: url("../img/blending_img1.jpg");
}

#blending-img2 {
  width: 200px;
  height: 200px;
  background-image: url("../img/blending_img2.jpg");
}

#blending-result {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-image: url("../img/blending_img1.jpg"),url("../img/blending_img2.jpg");
  background-blend-mode: multiply;
}