#resultat{
	font-family: IMPACT;
	letter-spacing: -0.15em;
	font-size: 5em;
	margin:0;
}

span{
	margin-top:0;
}

#resultat span {
  mix-blend-mode: multiply;
}

#resultat > span:nth-child(1) {
	color: rgba(171, 23, 149, 0.75);
}
#resultat > span:nth-child(2) {
	color: rgba(22, 124, 251, 0.75);
}
#resultat > span:nth-child(3) {
	color: rgba(55, 216, 110, 0.75);
}
#resultat > span:nth-child(4) {
	color: rgba(218, 124, 95, 0.75);
}
#resultat > span:nth-child(5) {
	color: rgba(176, 32, 173, 0.75);
}
#resultat > span:nth-child(6) {
	color: rgba(22, 133, 251, 0.75);
}