
body{
	background-color: #1C1C1C;
    background-image: url("../img/bgimg.jpg");
    background-repeat: repeat;
	font-family: arial;
}

.main-container{
	background-color: #FFFFFF;
	min-width: 50%;
	max-width: 960px;
	margin: 0 auto;
	border: solid 2px grey;
	border-radius: 3px;
	padding: 20px;
}

code{
	border: solid 3px #FFD83C;
	background-color: #FFE577; 
	width: 100%;
	display: inline-block; 
	padding: 3px;
	box-sizing: border-box;
}

#css{
	font-size: 1.3em;
}

small{
	color: orange;
	font-style: italic;
}

h1 > small {
	color: #AAAAAA;
}

.exemple > span{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	border: solid 2px red;
}

h3 {
	text-decoration: underline;
}